<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="ipSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<appSettings>
		<add key="ACCESS_IF" value="REAL_HT" />
	</appSettings>
	<connectionStrings>

	</connectionStrings>
	<system.web>
		<webServices>
			<!-- 아래 부분 주석을해제하면 테스트 페이지는없어진다-->
			<!--<wsdlHelpGenerator href="a.aspx"/>-->
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
		</webServices>

		<httpRuntime enableVersionHeader="false" />
		<compilation targetFramework="4.0" />
		<!--
            <authentication> 섹션에서는 ASP.NET에서 사용되는 
            보안 인증 모드의 구성을 설정하여 들어오는 
            사용자를 식별할 수 있습니다. 
        -->
		<authentication mode="Windows" />
		<!--
            <customErrors> 섹션에서는 요청을 실행하는 동안 
            처리되지 않은 오류가 발생하는 경우 수행할 작업을 
            구성할 수 있습니다. 특히 이
            섹션에서 개발자는 오류 스택 추적 대신 html 
        오류 페이지가 표시되도록 구성할 수 있습니다.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors>
			<error redirect="/Error/Error.htm" statusCode="500" />
			<error redirect="/Error/Error.htm" statusCode="501" />
			<error redirect="/Error/Error.htm" statusCode="502" />
			<error redirect="/Error/Error.htm" statusCode="412" />
			<error redirect="/Error/Error.htm" statusCode="401" />
			<error redirect="/Error/Error.htm" statusCode="402" />
			<error redirect="/Error/Error.htm" statusCode="403" />
			<error redirect="/Error/Error.htm" statusCode="404" />
			<error redirect="/Error/Error.htm" statusCode="405" />
			<error redirect="/Error/Error.htm" statusCode="406" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" enableViewStateMac="false" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="X-AspNetMvc-Version" />
			</customHeaders>
		</httpProtocol>
		<defaultDocument>
			<files>
				<add value="login.aspx" />
			</files>
		</defaultDocument>
		<rewrite>
			<outboundRules>
				<rule name="Remove Server">
					<match serverVariable="RESPONSE_SERVER" pattern=".*" />
					<action type="Rewrite" />
				</rule>
				<rule name="REMOVE X-POWERED-BY SERVER">
					<match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
					<action type="Rewrite" />
				</rule>
			</outboundRules>
		</rewrite>

		<httpErrors>
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="405" subStatusCode="-1" />
			<remove statusCode="406" subStatusCode="-1" />
			<remove statusCode="412" subStatusCode="-1" />
			<remove statusCode="502" subStatusCode="-1" />
			<remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="401" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="500" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="501" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="502" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="412" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="406" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="405" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="404" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
			<error statusCode="403" prefixLanguageFilePath="" path="/Error/Error.htm" responseMode="ExecuteURL" />
		</httpErrors>
	</system.webServer>
</configuration>